{% extends 'Index.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
</head>

<body>
    {% block content %}
    <nav class="mb-2 navbar NavbarBody navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'homePage' %}">
            <img class="logo img-fluid" src="{% static 'images/logo.png' %}" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item pr-4">
                    <a class="nav-link text-white h6" href="{% url 'dashboard' %}">Home</a>
                </li>
                <li class="nav-item pr-4">
                    <a class="nav-link text-white h6" href="{% url 'logOut' %}">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container w-50 mx-auto " style="padding-top:100px;">
        <div class="shadow card">
            <div class="card-body">
                <h5 class="card-title text-center">Profile</h5>
                {% for i in filterUser %}
                <form action="{% url 'updateProfileForm' i.id %}" method="POST">
                    {% csrf_token %}
                    <label class="form-label pt-3" for="lName">Name</label>
                    <input type="text" class="form-control" value="{{ i.name }}" placeholder=" Name" name="name" required />
                    <label class="form-label ml-1 pt-2" for="InputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" value="{{ i.email }}" name="email" placeholder="Enter Email" required />
                    <label class="form-label ml-1 pt-3" for="phone">Mobile Number</label>
                    <input type="tel" class="form-control" id="phone" pattern="^\d{9}$" value="{{ i.mobileNumber }}" name="mobileNumber" placeholder="Enter Mobile Number" required />
            </div>
            {% endfor %}
            <div class="d-flex justify-content-center loginButton my-3">
                <button class="btnSuccess btn btn-success" type="submit">
                    Save
                </button>
            </div>
            </form>
        </div>
    </div>
    {% endblock %}
</body>

</html>
