{% extends 'NavBar.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
</head>

<body>
    {% block content %}
    <div class="ml-3">
        <a href="{% url 'stockDashboard' %}" type="button" class="mt-3 btnSuccess btn">Back
        </a>
        {% if action == 'update' %}
        <h2 class="text-center">Update a Stock</h2>
        {% elif action == 'delete' %}
        <h2 class="text-center">Delete a Stock</h2>
        {% endif %}
    </div>

    <!-- Table for displaying current stock list -->
    <div class="shadow card ml-5 mr-5 mt-4 timeCenterCss">
        <table class="table table-hover mt-0 my-0">
            <thead>
                <tr>
                    <th scope="col">Sl. No.8</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Quantity (Kg or L)</th>
                    <th scope="col">Supplier Name</th>
                    <th scope="col">Date Added</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for i in stockList %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.itemName }}</td>
                    <td>{{ i.quantity }}</td>
                    <td>{{ i.supplier }}</td>
                    <td>{{ i.dateAdded }}</td>
                    <td>{{ i.amount }}</td>
                    <td>
                        {% if action == 'update' %}
                        <a href="{% url 'stockUpdate' i.id %}" class="mr-4 btn-success btn" type="button">
                            Update
                        </a>
                        {% elif action == 'delete' %}
                        <a href="{% url 'stockDelete' i.id %}" class="mr-4 btn-danger btn" type="button">
                            Delete
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}
</body>

</html>
