{% extends 'NavBar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
</head>

<body>
    {% block content %}
    <div class="container w-50 mx-auto  pb-4" style="padding-top:90px">
        <div class="shadow  card">
            <div class="card-body ">
                <form action="{% url 'supplierUpdateForm' id.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="d-flex justify-content-center logIn loginFont">
                            <h2>Update Supplier</h2>
                        </div>
                        <label for="InputEmail1">Supplier Name</label>
                        <input type="text" class="form-control" name="supplierName" value="{{ id.supplierName }}" id="exampleInputEmail1" aria-describedby="emailHelp" required />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for=""> Item</label>
                            <input type="text" class="form-control" id="" name="item" value="{{ id.item }}" required />
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="">Date Added</label>
                            <input type="date" class="form-control" id="" name="dateAdded" value="{{ id.dateAdded|date:'Y-m-d' }}" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">Email</label>
                            <input type="email" class="form-control" value="{{ id.email }}" name="email" id="" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Phone Number</label>
                            <input type="number" class="form-control" id="" value="{{ id.phoneNumber }}" name="phoneNumber" required />
                        </div>
                    </div>
                    <div class="d-flex justify-content-center loginButton">
                        <div>
                            <a href="{% url 'supplierDashboard' %}" type="button" class="mr-3 btn btn-danger btn">
                                Cancel
                            </a>
                        </div>
                        <div>
                            <button type="submit" class="btnSuccess btn btn-success">
                                Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>
